/**
 * Cart
 */
#page {
  .shop_table thead,
  .shop_table .cart-item {
    border-bottom: 2px solid $color__lightgray;
  }
  .wc-proceed-to-checkout {
    @include media-breakpoint-up(lg) {
      text-align: right;
    }
    .checkout-button {
      display: inline-block;
      @extend .btn;
      margin-top: 2rem;
    }
  }
}
.woocommerce-cart {
  &__wrapper {
    margin: 4rem 0;
    .woocommerce-cart-form,
    .cart_totals {
      padding: 3rem 2rem;
      background: $color__offwhite;
    }
    .woocommerce-cart-form .shop_table thead,
    .woocommerce-cart-form__cart-item {
      border-bottom: 2px solid $color__lightgray;
    }
    @include media-breakpoint-up(lg) {
      margin: 8rem 0;
    }
  }
}

// /**
//  * Checkout
//  */
.checkout.woocommerce-checkout {
  .col2-set .col-1,
  .col2-set .col-2 {
    width: 100%;
    max-width: none;
    flex-basis: none;
  }
  #payment {
    background: $color__offwhite;
    padding: 2rem;
    padding: clamp(2rem, 4vw, 4rem);
    .payment_methods {
      border: none;
      margin-bottom: 0;
    }
    .wc_payment_method {
      padding: 1.4rem 2rem;
      background: white;
      border: 2px solid $color__lightgray;
      border-radius: $input-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      .input-radio {
        display: none;
        + label {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          margin-bottom: 0;
          .stripe-icon:first-of-type {
            margin-left: auto;
          }
          &::before {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            padding: 0.2rem;
            background: white;
            box-shadow: 0 0 2px black;
            border: 4px solid white;
            content: '';
            flex-shrink: 0;
            display: block;
            margin-right: 2rem;
          }
        }
        &:checked + label::before {
          background: $color__echo;
        }
      }
      + .wc_payment_method {
        margin-top: 2rem;
      }
      .payment_box {
        padding-top: 3rem;
      }
    }
    .payment_method_stripe {
      .stripe-discover-icon,
      .stripe-jcb-icon,
      .stripe-diners-icon,
      p:not(.woocommerce-validated) {
        display: none;
      }
      .payment_box {
        width: 100%;
      }
      .wc-stripe-elements-field {
        padding: 1.4rem;
      }
      .form-row + .form-row {
        margin-top: 2rem;
      }
      .wc-saved-payment-methods {
        margin-bottom: 0;
      }
    }
    .payment_method_paypal {
      img {
        display: none;
      }
      .about_paypal {
        display: none;
      }
    }
    fieldset {
      border: none;
      padding: 0;
    }
    .woocommerce-terms-and-conditions-wrapper {
      margin-top: 2rem;
      .woocommerce-terms-and-conditions-checkbox-text.loading {
        display: inline-flex;
        align-items: center;
      }
      #terms-popup {
        svg {
          height: 2em;
        }
      }
    }
  }
  /* Section Titles */
  // h3 {
  //   font-size: 1.75rem;
  // }

  /* YOUR ORDER FIELD TITLES */
  table th {
    font-weight: bold;
    color: #492f70;
  }

  .woocommerce-billing-fields__field-wrapper {
    @include media-breakpoint-up(md) {
      .form-row-first,
      .form-row-last {
        float: left;
        width: 48%;
      }
      .form-row-first {
        margin-right: 4%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    #customer_details,
    #order_review {
      flex-basis: 46%;
    }
  }
  .order-review-section {
    flex-grow: 1;
    .order-review-table__wrapper {
      padding: 4rem;
      background: $color__offwhite;
      margin-bottom: 2rem;
      th,
      td {
        color: $color__charlie;
        text-align: left;
      }
      tbody {
        border-bottom: 2px solid $color__lightgray;
      }
      tfoot td,
      tfoot th {
        padding: 2rem 0;
      }
      tfoot tr + tr {
        border-top: 2px solid $color__lightgray;
      }
      .product-name {
        width: 100%;
      }
    }
  }
  .woocommerce-form__label-for-checkbox {
    display: flex;
    align-items: baseline;
    .woocommerce-form__input {
      margin-right: 1rem;
    }
  }
}

// Thank you page
.woocommerce-checkout {
  .woocommerce-customer-details {
    margin-top: 4rem;
  }
}

/* PLACE ORDER BUTTON CUSTOMIZATION */
#place_order {
  @extend .btn;
}
