/**
 * Products
 */
ul.products {
  @include clearfix;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  li.product {
    list-style: none;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .woocommerce-loop-product__link {
      flex-grow: 1;
      text-decoration: none;
    }

    .woocommerce-loop-product__title {
      font-size: 2.6rem;
      margin: 2rem 0 1.6rem;
    }

    .price {
      font-weight: 600;
      letter-spacing: 0.08em;
      margin-bottom: 2rem;
      display: block;
      color: $color__echo;
    }

    img {
      display: block;
      width: 100%;
    }

    .cart-buttons {
      // Minus the same as the margin for each button + btn borders
      margin: 0 calc(-0.8rem - 2px);
      .button,
      .btn {
        flex-grow: 1;
        margin: 0 0.8rem 1rem;
        white-space: nowrap;
        text-align: center;
      }
      .add_to_cart_button {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 3em;
          height: 3em;
          right: 0;
          margin: -3rem auto;
        }
      }
      .added_to_cart {
        display: none;
        order: 5;
        width: 100%;
        text-align: center;
        background: #d4e3d9;
        color: var(--color-charlie);
        padding: 1.2rem 0;
        margin: 0 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .button {
      display: block;
    }
  }
}

// Reset default woocommerce size at this breakpoint
@media screen and (min-width: 48em) {
  @for $i from 2 through 6 {
    .columns-#{$i} {
      ul.products {
        li.product {
          width: inherit;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  ul.products {
    li.product {
      float: left;
      margin-right: $columns__margin;

      &.first {
        clear: both;
      }

      &.last {
        margin-right: 0;
      }
    }
  }

  .columns-1 {
    &.products,
    ul.products {
      li.product {
        float: none;
        width: 100%;
      }
    }
  }

  @for $i from 2 through 6 {
    .columns-#{$i} {
      &.products,
      ul.products {
        li.product {
          @include column-width($i);
        }
      }
    }
  }
}
