/**
 * Single Product
 */
.single-product {

  .woocommerce-breadcrumb {
    margin-bottom: 2rem;
  }

	div.product {
		@include clearfix;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem; 
    @include media-breakpoint-up(lg) {
      padding-top: 8rem;
    }

    .product_title {
      @include font-size(38);
      color: $color__charlie;
    }

    .colours-list {
      margin-bottom: 1.6rem;
    }

    .price {
      @include font-size(23);
      color: $color__echo;
      font-weight: bold;
    }

    .woocommerce-product-gallery,
    .entry-summary  { 
      flex: 1;
      flex-basis: 100%;
      @include media-breakpoint-up(lg){
        max-width: 47%;
      }
    }

    .woocommerce-product-gallery__wrapper {
      margin-top: 0;
    }

		.woocommerce-product-gallery {
      position: relative;
      
      &__image {
        border-radius: 0.6rem;
        > a {
          display: flex;
        }
      }

			.woocommerce-product-gallery__trigger {
				display: block;
				position: absolute;
				right: 1em;
				top: 1em;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
			}

			.flex-control-thumbs {
        display: flex;
        justify-content: center;
				margin: 0;
        padding: 0;

				li {
					cursor: pointer;
					float: left;
          list-style: none;
          margin: 0 1rem;

					img {
						opacity: 0.5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {

						img {
							opacity: 1;
						}
					}
				}
			}
		}
  }

  .product-description {
    margin-bottom: 4rem;
  }

  .cart {
    display: flex;    
    .quantity {
      border: 1px solid $color__bravo;
      max-width: 8rem;
      margin-right: 2rem;
      input {
        width: 100%;
      }
    }
  }

  .related.products {
    margin: 4rem 0;
    padding-top: 4rem;
    border-top: 1px solid $color__lightgray;
    @include media-breakpoint-up(lg) {
      margin: 10rem 0;
      padding-top: 10rem;
    }
  }
}

.stock {

	&:empty::before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
