.woocommerce-page table {
  border-collapse: collapse;
  margin-bottom: 0;
  thead {
    display: none;
    text-transform: uppercase;
    @include font-size(14);
    color: $color__charlie;
    letter-spacing: 0.08em;
    font-weight: bold;
    th {
      padding-bottom: 2rem;
      color: $color__charlie;
    }
    .product-price,
    .product-quantity,
    .product-subtotal {
      max-width: fit-content;
    }
    @include media-breakpoint-up(md) {
      display: table-header-group;
    }
  }
  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      display: table-row;
    }
  }
  th {
    color: $color__charlie;
  }
  td {
    color: $color__delta;
    font-weight: 300;
  }
  td,
  th {
    text-align: left;
  }
  .cart_item,
  .order_item {
    .size-woocommerce_thumbnail {
      border-radius: 0.6rem;
      max-width: 8rem;
    }
    td {
      padding: 1rem 0;
      @include media-breakpoint-up(md) {
        padding: 4rem 0;
      }
    }
    .product-remove {
      @include media-breakpoint-up(md) {
        padding-right: 3rem;
      }
    }
    .quantity {
      max-width: 6rem;
      input {
        max-width: 100%;
        padding: 0;
        background: none;
      }
    }
  }
  .coupon,
  .actions {
    padding-top: 2rem;
    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
}
.cart_totals .shop_table {
  margin-top: 4rem;
  border-collapse: collapse;
  margin-left: auto;
  @include media-breakpoint-up(lg) {
    max-width: 35%;
  }
  .cart-subtotal {
    border-bottom: 2px solid $color__lightgray;
  }
  .woocommerce-shipping-totals {
    #shipping_method {
      padding: 1rem 0;
      margin-bottom: 0;
    }
  }
  tr {
    display: table-row;
  }
  th {
    padding: 1rem 2rem 1rem 0rem;
  }
}
// @media screen and (min-width: 48em) {
//   table {
//     thead {
//       display: table-header-group;
//     }

//     tbody {
//       th {
//         display: table-cell;
//       }
//     }

//     tr {
//       th,
//       td {
//         text-align: left;
//       }

//       td {
//         display: table-cell;

//         &::before {
//           display: none;
//         }
//       }
//     }
//   }
// }
