/* Shapes / Radius */
// For tablet-style buttons
.is-pill {
  border-radius: 30px;
}

@each $name, $breakpoint in $grid-breakpoints {
  // Don't generate XS, instead have no prefix eg .mb-2
  @if $name == 'xs' {
    // Text sizes
    .text-sm {
      @include font-size(16);
    }

    .text-md {
      @include font-size(24);
    }

    .text-lg {
      @include font-size(30);
    }

    .text-xl {
      @include font-size(40);
    }

    .text-xxl {
      @include font-size(50);
    }

    .text-xxxl {
      @include font-size(70);
    }

    .h-100 {
      height: 100%;
    }
  } @else {
    @include media-breakpoint-up($name) {
      // Text sizes
      .#{$name}\:text-sm {
        @include font-size(16);
      }

      .#{$name}\:text-md {
        @include font-size(24);
      }

      .#{$name}\:text-lg {
        @include font-size(30);
      }

      .#{$name}\:text-xl {
        @include font-size(40);
      }

      .#{$name}\:text-xxl {
        @include font-size(50);
      }
      .#{$name}\:text-xxxl {
        @include font-size(70);
      }
    }
  }
}

/* Lists */
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Animations */
.hover-grow-sm:hover {
  transition: all 0.2s;
  transform: scale(1.02);
}
.hover-grow-md:hover {
  transition: all 0.2s;
  transform: scale(1.05);
}

/* Icons */
.has-icon {
  &::before {
    display: inline;
    font-family: 'FontAwesome';
    color: inherit;
    position: unset;
    margin: unset;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
  }
}

.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  @include clearfix;
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  @include clearfix-after;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: $color__text-screen;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */

    @include font-size(0.875);
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex='-1']:focus {
  outline: 0;
}

/* Text */
.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.letter-spaced {
  letter-spacing: 0.2rem;
}

.uppercase {
  text-transform: uppercase;
}

.font-main {
  font-family: $font__main;
}

.underline {
  text-decoration: underline;
}

.justify-letters-even {
  display: flex;
  justify-content: space-between;
  span {
    display: block;
    width: fit-content;
  }
}

/* Border Radius */
.rounded-0 {
  border-radius: 0 !important;
}

.rounded {
  border-radius: $global_radius;
}
