/*
Theme Name: _s

WooCommerce styles override
*/

/**
 * WooCommerce color variables
 */
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: $color__charlie;
$woocommerce__color-info: $color__delta;

/**
 * Imports
 */
@import 'variables-site/variables-site';
@import 'mixins/mixins-master';

/**
 * Shop tables
 */
@import 'shop/tables';

/**
 * Products
 */
@import 'shop/products';

/**
 * Single product
 */
@import 'shop/single-product';

/**
 * Checkout
 */
@import 'shop/checkout';

/**
 * General WooCommerce components
 */
@import 'shop/components';

/**
 * WooCommerce widgets
 */
@import 'shop/widgets';

/**
 * WooCommerce My Account page
 */
@import 'shop/account-page';
