.btn,
.wp-block-button__link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-family: var(--font-buttons), var(--font-main), sans-serif;
  cursor: pointer;
  font-weight: bold;
  background: var(--color-bravo);
  border: 1px solid;
  border-color: var(--color-bravo);
  color: $color__charlie;
  line-height: 1 !important;
  padding: 1.8rem 3rem;
  padding: clamp(1.5rem, 1.8vw, 1.8rem) clamp(2rem, 3vw, 3rem);
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;

  &:visited {
    color: $color__charlie;
  }

  &:hover {
    padding: 1.8rem 3rem;
    border-color: $color__bravo;
  }
  &:not(.has-icon-after)::after {
    display: none;
  }

  &:active,
  &:focus {
    border-color: $color__bravo;
  }
}

.btn {
  > a {
    color: inherit;
    background: inherit;
  }
  &--secondary {
    background: $color__foxtrot;
    color: $color__charlie;
    &:visited {
      color: $color__charlie;
    }
  }
  &--outlined {
    border-width: 2px;
    border-style: solid;
    &:not(:hover) {
      background: transparent !important;
    }
    &:hover {
      color: white !important;
    }
  }
  &--large {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg
    );
  }

  &--small {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm
    );
  }

  &--unstyled {
    background: none;
    border: 0;
    padding: 0;
    &:hover {
      padding: 0;
    }
  }
}
