$fa-font-path: "../../public/fonts/icons/";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

.icon-outlined::before {
	border: 3px solid;
	padding: 2rem;
	border-radius: 50%;
}
