ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 4rem;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

.bmcb-text li,
.bmcb-blurb li,
.entry-content li {
  padding-left: 3rem;
  margin: 1rem 0;
  &::before {
    color: $color__echo;
    left: 0;
    height: 100%;
    line-height: 1;
    position: absolute;
    display: flex;
    align-items: center;
  }
}

// Custom LI Styles
.bmcb-text ul,
.bmcb-blurb ul,
.entry-content ul {
  margin: 2rem 0;
  li {
    position: relative;
    &::before {
      content: "\f45c";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      font-size: .8rem;
    }
  }
}

.bmcb-text ol,
.bmcb-blurb ol,
.entry-content ol {
  margin: 3rem 0;
  list-style: none;
  counter-reset: ol-counter;
  padding: 0;
  li {
    counter-increment: ol-counter;
    line-height: 1.5;
    position: relative;
    &::before {
      letter-spacing: 0.1em;
      content: counter(ol-counter) '. ';
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  li + li {
    margin-top: 2rem;
  }
}
