/*

Colours from alpha to hotel are configured in site options (backend)

From there you can also specify any number of custom colours and reference them by name throughout
the website var(--color-customname);

The theme options page also generates utility classes for each colour you add. Read more: <insert docs link>

*/

$color__alpha: var(--color-alpha);
$color__bravo: var(--color-bravo);
$color__charlie: var(--color-charlie);
$color__charlie-hover: var(--color-charlie);
$color__delta: var(--color-delta);
$color__echo: var(--color-echo);
$color__foxtrot: var(--color-foxtrot);
$color__golf: var(--color-golf);
$color__hotel: var(--color-hotel);
$color__lightgray: var(--color-lightgray);
$color__offwhite: var(--color-offwhite);

$color__background-body: $color__foxtrot;
$color__background-screen: $color__echo;
$color__background-hr: $color__echo;
$color__background-button: $color__bravo;
$color__background-pre: inherit;
$color__background-ins: inherit;

$color__text-screen: var(--color-delta);
$color__text-input: var(--color-golf);
$color__text-input-focus: var(--color-charlie);
$color__link: var(--color-text-main);
$color__link-visited: inherit;
$color__link-hover: var(--color-charlie-hover);
$color__text-main: var(--color-text-main);
$color__text-headings: var(--color-text-headings);
