$containerWidth: 1170px;
$sectionPadding: 8rem !default;

// Gap between columns in rem
$col_gap: 2 !default;
$col_gap_lg: $col_gap !default;
$col_gap_xl: $col_gap * 2 !default;

// Woocommerce
$columns: (
  1: 100%,
  2: 50%,
  3: 33.33%,
  4: 25%,
  5: 20%,
  6: 16.66%,
  7: 14.28%,
  8: 12.5%,
  9: 11.11%
);

$columns__margin: 3.8%;

$box_model: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'm': 'margin',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left'
) !default;

$grid-breakpoints: (
  xs: 1px,
  sm: 480px,
  md: 768px,
  lg: 980px,
  xl: 1170px
) !default;
