/*
  Fonts are added by google in the site-options page.
  There will be options to disable those for custom fonts included inside the theme directly
*/

$font__main: var(--font-main), sans-serif;
$font__heading: var(--font-headings), var(--font-main), sans-serif;
$font__button: var(--font-buttons), var(--font-main), sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 2rem;
$btn-font-size-lg: 2.4rem;

$btn-padding-y-sm: 0.6rem;
$btn-padding-x-sm: 1.4rem;
$btn-font-size-sm: 1.8rem;
