/******* Variables */

:root {

/* Colours */

--color-alpha: #f8f8f8;


--color-bravo: #d4e3d9;


--color-charlie: #0b2d26;


--color-echo: #f3b323;


--color-delta: #434343;


--color-foxtrot: #ffffff;


--color-golf: #000000;


--color-lightgray: #eaeaea;


--color-offwhite: #f7f7f7;



--color-link: var(--color-echo);



--color-text-main: var(--color-delta);



--color-text-headings: var(--color-delta);




/* Typography */

--font-main: "Arial";

--font-headings: "Playfair Display";

--font-buttons: "Roboto";


}
/******* END Variables */


/******* Color Utils */

.text-alpha {
color: var(--color-alpha);
}

.text-link {
color: var(--color-echo);
}


.bg-alpha {
background-color: var(--color-alpha);
}


.text-bravo {
color: var(--color-bravo);
}

.text-link {
color: var(--color-echo);
}


.bg-bravo {
background-color: var(--color-bravo);
}


.text-charlie {
color: var(--color-charlie);
}

.text-link {
color: var(--color-echo);
}


.bg-charlie {
background-color: var(--color-charlie);
}


.text-echo {
color: var(--color-echo);
}

.text-link {
color: var(--color-echo);
}


.bg-echo {
background-color: var(--color-echo);
}


.text-delta {
color: var(--color-delta);
}

.text-link {
color: var(--color-echo);
}


.bg-delta {
background-color: var(--color-delta);
}


.text-foxtrot {
color: var(--color-foxtrot);
}

.text-link {
color: var(--color-echo);
}


.bg-foxtrot {
background-color: var(--color-foxtrot);
}


.text-golf {
color: var(--color-golf);
}

.text-link {
color: var(--color-echo);
}


.bg-golf {
background-color: var(--color-golf);
}


.text-lightgray {
color: var(--color-lightgray);
}

.text-link {
color: var(--color-echo);
}


.bg-lightgray {
background-color: var(--color-lightgray);
}


.text-offwhite {
color: var(--color-offwhite);
}

.text-link {
color: var(--color-echo);
}


.bg-offwhite {
background-color: var(--color-offwhite);
}

/******* END Color Utils */
