#page .searchandfilter {
  > ul > li {
    padding: 0;
    > ul {
      margin-bottom: 2rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 1rem 0;
      ul {
        margin-bottom: 0;
      }
    }
  }
  h4 {
    font-family: $font__main;
    text-transform: uppercase;
    font-weight: bold;
    color: $color__echo;
    letter-spacing: 0.1em;
    @include font-size(18);
    &::after {
      padding-left: 0.6rem;
      content: '\f0da';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
    @include media-breakpoint-up(lg) {
      &::after {
        content: none;
        display: none;
      }
    }
  }
  > ul > li,
  > ul > li {
    > label,
    > ul {
      display: none;
      flex-direction: column;
    }
    &.is-open {
      > label,
      > ul {
        display: flex;
      }
      h4 {
        &::after {
          content: '\f0d7';
        }
      }
    }
    @include media-breakpoint-up(lg) {
      > label,
      > ul {
        display: flex;
      }
    }
  }
}
