input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
  border: 2px solid $color__lightgray;
  border-radius: $input-radius;
  font-size: 1.4rem;
  color: $color__delta;
  padding: 1.4rem 1.6rem;
  width: 100%;

  &:focus {
    color: $color__text-input-focus;
  }
  &.is-large {
    font-size: 2rem;
    min-width: 350px;
    font-family: $font__main;
    padding: 1.4rem 4rem 1.4rem 2rem;
  }
}

label {
  color: $color__charlie;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: $font__main;
  margin-bottom: 0.8em;
  display: inline-block;
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper ul.gfield_radio li label,
ul.gfield_checkbox li label {
  color: $color__text-main;
  font-size: 1.3rem;
}

#page {
  .ginput_container {
    margin-top: 0.5rem;
    input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']).large {
      font-size: 2rem;
      font-family: $font__main;
      padding: 1rem 2rem;
      border: 2px solid $color__lightgray;
      min-height: unset;
      line-height: 1.5;
    }
  }
}
textarea {
  width: 100%;
  min-height: 200px;
}

/*Checkboxes styles wrapped in #page to override plugins etc */
#page {
  input[type='checkbox'] {
    display: none;
  }

  .woocommerce-form__label-for-checkbox {
    input[type='checkbox'] {
      display: inline-block;
    }
  }

  input[type='checkbox'] + label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  label {
    margin-bottom: 0;
  }

  input[type='checkbox'] + label:last-child {
    margin-bottom: 0;
  }

  input[type='checkbox'] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #979797;
    position: absolute;
    left: 0;
    opacity: 0.6;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
  }

  input[type='checkbox']:checked + label:before {
    width: 10px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-color: $color__echo;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Reset Select */
  select {
    outline: 0;
    box-shadow: none;
    border: 2px solid $color__lightgray !important;
    background-image: none;
    background: white;
    height: 5rem;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select,
  [data-sf-field-input-type='select'] label {
    position: relative;
    display: flex;
    width: fit-content;
    height: 2.2em;
    align-items: center;
    overflow: hidden;
    border: 1px solid #979797;
    border-radius: 0.25em;
  }
  select {
    padding: 0 2em 0 0.5em;
    cursor: pointer;
    min-width: 0 !important;
  }
  /* Arrow */
  .select::after,
  [data-sf-field-input-type='select'] label::after {
    color: $color__echo;
    content: '\25BC';
    padding: 0 0.2em 0 1em;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }
  /* Transition */
  .select:hover::after,
  [data-sf-field-input-type='select'] label:hover::after {
    color: $color__delta;
  }
}

#page {
  .select2 {
    .selection {
      display: flex;
    }

    .select2-selection__rendered {
      color: $color__delta;
      font-size: 1.4rem;
    }

    .select2-selection {
      padding: 1rem;
      display: flex;
      height: auto;
      flex-grow: 1;
    }

    .select2-selection--single .select2-selection__arrow {
      top: 0px;
      bottom: 0;
      margin: auto;
      b {
        left: 0;
        border-color: $color__echo transparent transparent;
        border-width: 7px 8px 0;
      }
    }
  }
}
