@import 'fields';

.search-form {
  position: relative;
  width: 100%;
  max-width: 52rem;
  label {
    padding: 0.6rem 0.6rem 0.6rem 2rem;
    .fa-search {
      margin-right: 1rem;
    }
  }
  .search-field {
    width: 100%;
    border: none;
  }
  .search-submit {
    border: 0;
    background: $color__echo;
    color: $color__delta;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.2rem;
    padding: 0;
    display: block;
    border-radius: 2px;
    padding: 1.8rem 3rem;
    font-size: 1.4rem;
    font-family: $font__main;
    font-weight: 600;
  }
}

#page .gform_wrapper {
  margin-top: 0;
}

#gform_wrapper_1 {
  background: $color__offwhite;
  padding: 3rem;
}
