<template>
  <div class="vue-gform-wrapper">        
    <LoadingSpinner v-if="loading" />    
    <div v-show="!loading">
        <div id="gform-area"></div>
    </div>
  </div>
</template>

<script>
let ajax_url = global_vars.admin_ajax_url;

export default {
  name: 'g-form',
  props: {
    form_id: {
      type: [String, Number]
    },
  },
  data: function() {
    return {
      form: '',
      loading: false,
    }
  },
  methods: {
    async getForm() {
      let vm = this;
      jQuery(document).ready(() => {
        jQuery(`#gf_button_get_form_${vm.form_id}`).click(function(el){
          let button = jQuery(this);      
          jQuery.get(`${ajax_url}?action=gf_button_get_form&form_id=${vm.form_id}`, function(response){
            jQuery('#gform-area').html(response)

            if(window['gformInitDatepicker']) {gformInitDatepicker();}
          });
        });
        jQuery(`#gf_button_get_form_${vm.form_id}`).click()
      }) 
      if(window['gformInitDatepicker']) {gformInitDatepicker();}
      this.loading = false
    }
  },
  mounted() {
    this.loading = true
    this.getForm();
  }
}

</script>

<style scoped>
</style>
