<template>
  <div
    ref="vueSlider"
    data-fade="{x:0}"
    v-show="slides && slides.length"
    class="vue-slider"
  >
    <transition-group
      v-touch:swipe.right="next"
      v-touch:swipe.left="prev"
      :duration="1000"
      :style="{ height: `${sliderTypeHeight}px` }"
      tag="div"
      enter-active-class="vue-slider__enterActive"
      enter-class="vue-slider__enter"
      leave-active-class="vue-slider__leaveActive"
      leave-to-class="vue-slider__leaveTo"
      class="vue-slider__slides"
    >
      <div
        v-for="(slide, index) in slides"
        :key="slide.slide_title + index"
        class="vue-slider__slide"
        v-show="activeIndex === index"
      >
        <img
          :src="slide.slide_image"
          class="vue-slider__image"
          :class="[!animationPaused ? `vue-slider__image--${animation}` : null]"
          :alt="
            slide.image_alt ? slide.image_alt + ' ' + index : slide.slide_title
          "
        />
        <div class="slide-content">
          <transition name="slide-fade" v-show="!animationPaused">
            <h2
              v-show="!sliderPaused && activeIndex === index"
              class="slide-title"
            >
              {{ slide.slide_title }}
            </h2>
          </transition>
        </div>
      </div>
    </transition-group>
    <div v-if="enableControls" class="vue-slider__controls">
      <button class="vue-slider__control" @click="prev">
        &laquo; prev
      </button>
      <button class="vue-slider__control" @click="next">
        next &raquo;
      </button>
    </div>
  </div>
</template>

<script>
import { isAbove } from '../../util/breakpoints';
import debounce from '../../util/debounce';
export default {
  name: `vue-slider`,
  props: {
    height: {
      default: 680,
      type: Number
    },
    animation: {
      type: String,
      default: 'kenburns'
    },
    type: {
      type: String,
      default: 'hero'
    },
    interval: {
      default: 2000,
      type: Number
    },
    width: {
      default: 1920,
      type: Number
    },
    sliderID: {
      default: 141,
      type: Number
    },
    enableControls: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      isVisible: true,
      activeIndex: 0,
      activeInterval: '',
      sliderPaused: false,
      animationPaused: false,
      time: this.interval,
      slides: [],
      sliderHeight: 680
    };
  },
  computed: {
    aspectRatio() {
      return (this.height / this.width) * 100;
    },
    headerHeight() {
      let header = document.getElementById('main-header');
      console.log(header.offsetHeight);
      return header.offsetHeight;
    },
    sliderTypeHeight() {
      const header = document.getElementById('main-header');

      if (this.type === 'hero') {
        return window.innerHeight;
      }
    }
  },
  mounted() {
    if (!this.slides.length) {
      // Fetch slide content
      this.getSlides();
    }

    // Check if the header animation is in effect on this page
    const logoAnimation = document.body.classList.contains('logoAnimation');

    // Allow slider to pause/play based on logo animation status
    if (wp_global_vars.postID === '5' && logoAnimation) {
      const canvas = document.getElementById('canvas');

      this.sliderPaused = true;
      // this.animationPaused = true;

      // When the header is scrolled to the top
      window.addEventListener('animationFlagRemove', () => {
        this.sliderPaused = false;
        this.startInterval();
      });

      // Everytime they scroll back to the top, reset everything
      window.addEventListener('animationFlagAdd', () => {
        clearInterval(this.activeInterval);
        this.sliderPaused = true;
        this.goToIndex(0);
      });
    } else {
      this.startInterval();
    }
  },
  methods: {
    goToIndex(index) {
      this.activeIndex = index;
      this.time = this.interval;
      // this.$nextTick(() => {
      // });
    },
    next() {
      let nextIndex = this.activeIndex + 1;
      // Go to the first image if the active
      // image ist the last one.
      if (!this.slides[nextIndex]) {
        return clearInterval(this.activeInterval);
        nextIndex = 0;
      }
      this.goToIndex(nextIndex);
    },
    prev() {
      let nextIndex = this.activeIndex - 1;
      // Go to the last image if the active
      // image is the first one.
      if (!this.slides[nextIndex]) {
        nextIndex = this.slides.length - 1;
      }
      this.goToIndex(nextIndex);
    },
    async getSlides() {
      const $endpoint = `${wp_global_vars.apiBase}/slider/${this.sliderID}?_embed`;
      let res = await fetch($endpoint);
      let json = await res.json();
      this.slides = json.acf.slider;
      this.$nextTick(() => {
        // This eent will be globally emiited when slider is ready
        var evt = new CustomEvent('sliderReady');
        window.dispatchEvent(evt);
      });
    },
    startInterval() {
      const precision = 100;
      this.activeInterval = setInterval(() => {
        if (!this.sliderPaused) this.time -= precision;
        if (this.time <= 0) this.next();
      }, precision);
      // Clear the interval if the component
      // is destroyed to prevent memory leaks.
      // this.$once(`hook:destroyed`, () => clearInterval(this.activeInterval));
    }
  },
  destroyed() {
    clearInterval(this.activeInterval);
  }
};
</script>

<style lang="scss">
.vue-slider {
  &__slides {
    position: relative;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    font-family: 'object-fit: cover; object-position: top;';
    filter: grayscale(0.4);
    &--kenburns {
      animation: kenburns 70s;
      animation-direction: alternate;
    }
  }
  &__enterActive,
  &__leaveActive {
    transition: opacity 1s;
  }
  &__enter,
  &__leaveTo {
    opacity: 0;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  // 1. Reset native button styles.
  &__control {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1.25em;
  }
  @keyframes kenburns {
    100% {
      transform: scale3d(1.25, 1.25, 1.25) translate3d(-10%, -5%, 0);
    }
  }

  .vue-slider__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    flex: 0 1 100%;
  }
  .slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: white;
    position: absolute;
  }
  .slide-title {
    color: white;
    font-size: 8rem;
    line-height: 1;
    text-align: center;
    @media all and (min-width: 981px) {
      font-size: 20rem;
    }
  }

  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(100px);
    opacity: 0;
  }
}
</style>
