.widget-area {
  .widget {
    ul {
      margin: 0;
    }
    .widget-title {
      @include font-size(30);
      margin-bottom: 0.5em;
    }
    + .widget {
      margin-top: 3rem;
    }
  }
}

.widget_search {
  .search-form {
    border: 2px solid $color__lightgray;
  }
}
