/*!
 * Bootstrap Grid Only (grid and responsive utilities extracted from Bootstrap 4.1.3)
 * GitHub: https://github.com/dmhendricks/bootstrap-grid-css
 * Bootstrap License: MIT (https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE)
 * Credits: Twitter, Inc. & The Bootstrap Authors (https://github.com/twbs/bootstrap/graphs/contributors)
 */
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.clearfix::after {
  display: block;
  clear: both;
  content: '';
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
.hidden-xs-up {
  display: none !important;
}
@media (max-width: 575.98px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
.hidden-xl-down {
  display: none !important;
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.container {
  width: 100%;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-up(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-up(lg) {
    max-width: $containerWidth;
  }
  &.container-small {
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
  }
}
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 80%;
//   }
// }
@media (min-width: 2000px) {
  .container {
    max-width: $containerWidth;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // @include media-breakpoint-up(md) {
  //   margin-right: -#{#{$col_gap_md}rem}rem;
  //   margin-left: -#{#{$col_gap_md}rem}rem;
  // }
  // @include media-breakpoint-up(lg) {
  //   margin-right: -#{#{$col_gap_lg}rem}rem;
  //   margin-left: -#{#{$col_gap_lg}rem}rem;
  // }
  // @include media-breakpoint-up(xl) {
  //   margin-right: -#{#{$col_gap_xl}rem}rem;
  //   margin-left: -#{#{$col_gap_xl}rem}rem;
  // }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  // @include media-breakpoint-up(md) {
  //   padding-right: #{#{$col_gap_md}rem}rem;
  //   padding-left: #{#{$col_gap_md}rem}rem;
  // }
  // @include media-breakpoint-up(lg) {
  //   padding-right: #{#{$col_gap_lg}rem}rem;
  //   padding-left: #{#{$col_gap_lg}rem}rem;
  // }
  // @include media-breakpoint-up(xl) {
  //   padding-right: #{#{$col_gap_xl}rem}rem;
  //   padding-left: #{#{$col_gap_xl}rem}rem;
  // }
}
.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-1 {
  flex: 0 0 calc(8.3333333333% - #{$col_gap}rem / 2);
  max-width: calc(8.3333333333% - #{$col_gap}rem / 2);
}
.col-2 {
  flex: 0calc (16.6666666667% - #{$col_gap}rem / 2);
  max-width: calc(16.6666666667% - #{$col_gap}rem / 2);
}
.col-3 {
  flex: 0 0 calc(25% - #{$col_gap}rem / 2);
  max-width: calc(25% - #{$col_gap}rem / 2);
}
.col-4 {
  flex: 0 0 calc(33.3333333333% - #{$col_gap}rem / 2);
  max-width: calc(33.3333333333% - #{$col_gap}rem / 2);
}
.col-5 {
  flex: 0 0 calc(41.6666666667% - #{$col_gap}rem / 2);
  max-width: calc(41.6666666667% - #{$col_gap}rem / 2);
}
.col-6 {
  flex: 0 0 calc(50% - #{$col_gap}rem / 2);
  max-width: calc(50% - #{$col_gap}rem / 2);
}
.col-7 {
  flex: 0 0 calc(58.3333333333% - #{$col_gap}rem / 2);
  max-width: calc(58.3333333333% - #{$col_gap}rem / 2);
}
.col-8 {
  flex: 0 0 calc(66.6666666667% - #{$col_gap}rem / 2);
  max-width: calc(66.6666666667% - #{$col_gap}rem / 2);
}
.col-9 {
  flex: 0 0 calc(75% - #{$col_gap}rem / 2);
  max-width: calc(75% - #{$col_gap}rem / 2);
}
.col-10 {
  flex: 0 0 calc(83.3333333333% - #{$col_gap}rem / 2);
  max-width: calc(83.3333333333% - #{$col_gap}rem / 2);
}
.col-11 {
  flex: 0 0 calc(91.6666666667% - #{$col_gap}rem / 2);
  max-width: calc(91.6666666667% - #{$col_gap}rem / 2);
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.order-last {
  -webkit-box-ordinal-group: 14;
  -webkit-order: 13;
  -ms-flex-order: 13;
  order: 13;
}
.order-0 {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
}
.order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8;
}
.order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9;
}
.order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10;
}
.order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
  -ms-flex-order: 11;
  order: 11;
}
.order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
  -ms-flex-order: 12;
  order: 12;
}
.offset-1 {
  margin-left: 8.3333333333%;
}
.offset-2 {
  margin-left: 16.6666666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.3333333333%;
}
.offset-5 {
  margin-left: 41.6666666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.3333333333%;
}
.offset-8 {
  margin-left: 66.6666666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.3333333333%;
}
.offset-11 {
  margin-left: 91.6666666667%;
}
@media (min-width: 576px) {
  .col-sm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 calc(8.3333333333% - #{$col_gap}rem);
    max-width: calc(8.3333333333% - #{$col_gap}rem);
  }
  .col-sm-2 {
    flex: 0 0 calc(16.6666666667% - #{$col_gap}rem);
    max-width: calc(16.6666666667% - #{$col_gap}rem);
  }
  .col-sm-3 {
    flex: 0 0 calc(25% - #{$col_gap}rem);
    max-width: calc(25% - #{$col_gap}rem);
  }
  .col-sm-4 {
    flex: 0 0 calc(33.3333333333% - #{$col_gap}rem);
    max-width: calc(33.3333333333% - #{$col_gap}rem);
  }
  .col-sm-5 {
    flex: 0 0 calc(41.6666666667% - #{$col_gap}rem);
    max-width: calc(41.6666666667% - #{$col_gap}rem);
  }
  .col-sm-6 {
    flex: 0 0 calc(50% - #{$col_gap}rem);
    max-width: calc(50% - #{$col_gap}rem);
  }
  .col-sm-7 {
    flex: 0 0 calc(58.3333333333% - #{$col_gap}rem);
    max-width: calc(58.3333333333% - #{$col_gap}rem);
  }
  .col-sm-8 {
    flex: 0 0 calc(66.6666666667% - #{$col_gap}rem);
    max-width: calc(66.6666666667% - #{$col_gap}rem);
  }
  .col-sm-9 {
    flex: 0 0 calc(75% - #{$col_gap}rem);
    max-width: calc(75% - #{$col_gap}rem);
  }
  .col-sm-10 {
    flex: 0 0 calc(83.3333333333% - #{$col_gap}rem);
    max-width: calc(83.3333333333% - #{$col_gap}rem);
  }
  .col-sm-11 {
    flex: 0 0 calc(91.6666666667% - #{$col_gap}rem);
    max-width: calc(91.6666666667% - #{$col_gap}rem);
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 calc(8.3333333333% - #{$col_gap}rem);
    max-width: calc(8.3333333333% - #{$col_gap}rem);
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 calc(16.6666666667% - #{$col_gap}rem);
    max-width: calc(16.6666666667% - #{$col_gap}rem);
  }
  .col-md-3 {
    flex: 0 0 calc(25% - #{$col_gap}rem);
    max-width: calc(25% - #{$col_gap}rem);
  }
  .col-md-4 {
    flex: 0 0 calc(33.3333333333% - #{$col_gap}rem);
    max-width: calc(33.3333333333% - #{$col_gap}rem);
  }
  .col-md-5 {
    flex: 0 0 calc(41.6666666667% - #{$col_gap}rem);
    max-width: calc(41.6666666667% - #{$col_gap}rem);
  }
  .col-md-6 {
    flex: 0 0 calc(50% - #{$col_gap}rem);
    max-width: calc(50% - #{$col_gap}rem);
  }
  .col-md-7 {
    flex: 0 0 calc(58.3333333333% - #{$col_gap}rem);
    max-width: calc(58.3333333333% - #{$col_gap}rem);
  }
  .col-md-8 {
    flex: 0 0 calc(66.6666666667% - #{$col_gap}rem);
    max-width: calc(66.6666666667% - #{$col_gap}rem);
  }
  .col-md-9 {
    flex: 0 0 calc(75% - #{$col_gap}rem);
    max-width: calc(75% - #{$col_gap}rem);
  }
  .col-md-10 {
    flex: 0 0 calc(83.3333333333% - #{$col_gap}rem);
    max-width: calc(83.3333333333% - #{$col_gap}rem);
  }
  .col-md-11 {
    flex: 0 0 calc(91.6666666667% - #{$col_gap}rem);
    max-width: calc(91.6666666667% - #{$col_gap}rem);
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 calc(8.3333333333% - #{$col_gap}rem);
    max-width: calc(8.3333333333% - #{$col_gap}rem);
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 calc(16.6666666667% - #{$col_gap}rem);
    max-width: calc(16.6666666667% - #{$col_gap}rem);
  }
  .col-lg-3 {
    flex: 0 0 calc(25% - #{$col_gap}rem);
    max-width: calc(25% - #{$col_gap}rem);
  }
  .col-lg-4 {
    flex: 0 0 calc(33.3333333333% - #{$col_gap}rem);
    max-width: calc(33.3333333333% - #{$col_gap}rem);
  }
  .col-lg-5 {
    flex: 0 0 calc(41.6666666667% - #{$col_gap}rem);
    max-width: calc(41.6666666667% - #{$col_gap}rem);
  }
  .col-lg-6 {
    flex: 0 0 calc(50% - #{$col_gap}rem);
    max-width: calc(50% - #{$col_gap}rem);
  }
  .col-lg-7 {
    flex: 0 0 calc(58.3333333333% - #{$col_gap}rem);
    max-width: calc(58.3333333333% - #{$col_gap}rem);
  }
  .col-lg-8 {
    flex: 0 0 calc(66.6666666667% - #{$col_gap}rem);
    max-width: calc(66.6666666667% - #{$col_gap}rem);
  }
  .col-lg-9 {
    flex: 0 0 calc(75% - #{$col_gap}rem);
    max-width: calc(75% - #{$col_gap}rem);
  }
  .col-lg-10 {
    flex: 0 0 calc(83.3333333333% - #{$col_gap}rem);
    max-width: calc(83.3333333333% - #{$col_gap}rem);
  }
  .col-lg-11 {
    flex: 0 0 calc(91.6666666667% - #{$col_gap}rem);
    max-width: calc(91.6666666667% - #{$col_gap}rem);
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 calc(8.3333333333% - #{$col_gap}rem);
    max-width: calc(8.3333333333% - #{$col_gap}rem);
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 calc(16.6666666667% - #{$col_gap}rem);
    max-width: calc(16.6666666667% - #{$col_gap}rem);
  }
  .col-xl-3 {
    flex: 0 0 calc(25% - #{$col_gap}rem);
    max-width: calc(25% - #{$col_gap}rem);
  }
  .col-xl-4 {
    flex: 0 0 calc(33.3333333333% - #{$col_gap}rem);
    max-width: calc(33.3333333333% - #{$col_gap}rem);
  }
  .col-xl-5 {
    flex: 0 0 calc(41.6666666667% - #{$col_gap}rem);
    max-width: calc(41.6666666667% - #{$col_gap}rem);
  }
  .col-xl-6 {
    flex: 0 0 calc(50% - #{$col_gap}rem);
    max-width: calc(50% - #{$col_gap}rem);
  }
  .col-xl-7 {
    flex: 0 0 calc(58.3333333333% - #{$col_gap}rem);
    max-width: calc(58.3333333333% - #{$col_gap}rem);
  }
  .col-xl-8 {
    flex: 0 0 calc(66.6666666667% - #{$col_gap}rem);
    max-width: calc(66.6666666667% - #{$col_gap}rem);
  }
  .col-xl-9 {
    flex: 0 0 calc(75% - #{$col_gap}rem);
    max-width: calc(75% - #{$col_gap}rem);
  }
  .col-xl-10 {
    flex: 0 0 calc(83.3333333333% - #{$col_gap}rem);
    max-width: calc(83.3333333333% - #{$col_gap}rem);
  }
  .col-xl-11 {
    flex: 0 0 calc(91.6666666667% - #{$col_gap}rem);
    max-width: calc(91.6666666667% - #{$col_gap}rem);
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
