.site-footer {
  background: $color__hotel;
  text-align: center;
  .row:not([class*='gap-']) {
    padding: 2rem 0 1rem;
    .bmcb-column + .bmcb-column {
      margin-top: 0rem;
    }
    .bmcb-column:first-of-type {
      order: 2;
    }
    .bmcb-column:nth-child(2) {
      order: 1;
      padding-bottom: 1rem;
    }
    .bmcb-column:last-of-type {
      order: 3;
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 3rem 0;
      .bmcb-column:first-of-type,
      .bmcb-column:nth-child(2),
      .bmcb-column:last-of-type {
        order: unset;
        padding: 0;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    text-align: inherit;
  }
}

.site-footer .container {
  padding: 3rem 0;
}

.footer__copyright p {
  display: block;
  font-size: 1.6rem;
  color: #75767a;
  margin-bottom: 0;
}
