.four-oh-four__wrapper {
  position: relative;
  @include media-breakpoint-up(lg) {
    &::before,
    &::after {
      display: block;
      position: absolute;
      z-index: -1;
      opacity: 0.2;
    }
    &::before {
      content: url(http://yellow-house.local/wp-content/uploads/2020/07/Geranium-cutout.png);
      left: 1%;
      bottom: -15%;
    }
    &::after {
      content: url(http://yellow-house.local/wp-content/uploads/2020/07/Scabious-cutout.png);
      right: 1%;
      top: -15%;
    }
  }
}
