.grid__featured-collections {
  grid-template-columns: 100%;
  grid-auto-rows: minmax(150px, auto);
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  gap: 4rem;
  .bmcb-blurb {
    .bmcb-blurb__title {
      margin-bottom: 0;
    }
    > a {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

@include media-breakpoint-up(lg) {
  .grid__featured-collections .bmcb-module:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .grid__featured-collections .bmcb-module:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .grid__featured-collections .bmcb-module:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .grid__featured-collections .bmcb-module:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
  .bmcb-blurb {
    &.feature-large-first,
    &.feature-large-last {
      .bmcb-blurb__image-wrapper {
        img {
          height: 100%;
        }
      }
    }
  }
  // .feature-large-first {
  //   grid-area: a;
  // }

  // .feature-wide {
  //   grid-area: b;
  // }

  // .feature-large-last {
  //   grid-area: d;
  // }
}
