.row.row-small {
  @include media-breakpoint-up(lg) {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    .bmcb-text__title {
      max-width: 65rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@import 'top-header';
@import 'main-header';
@import 'page';
@import 'post';
@import 'footer';
@import 'search-results';
@import 'grid-featured-collections';
@import 'four-oh-four';
@import 'archive';
