body.sticky #main-header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  + #et-main-area {
    padding-top: 10rem;
  }
}

.site-logo-text {
  color: var(--color-alpha);
}

#main-header.sticky + #et-main-area {
  padding-top: 10rem;
}

#main-header {
  padding: 2rem 0;
  box-shadow: none;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .et_menu_container {
    @extend .flex;
    @extend .items-center;
  }
}

.admin-bar #main-header.sticky {
  top: 32px;
}

#main-header #logo {
  max-width: 60%;
}

@include media-breakpoint-up(lg) {
  #top-menu-nav {
    display: flex;
    align-items: center;
  }
  #main-header.sticky
    #top-menu-nav
    #main-menu
    > li.menu-item-has-children
    > a:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
