.sticky #page {
  padding-top: 7.3rem;
  @include media-breakpoint-up(lg) {
    padding-top: 7.3rem;
  }
}

/* Reduce space for the headings if there is a hr module preceeding them */
body:not(.home) {
  .bmcb-hr-module
    + .bmcb-row
    .bmcb-module:not(.heading-space-0)
    h2:first-child {
    margin-top: 1rem;
  }
}

.page-title-bar {
  background: $color__charlie;
  padding: 3rem 0;
  &__title {
    font-family: $font__main;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: $color__foxtrot;
  }
}

.page-header {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    min-height: 450px;
  }
}

.page-header__title {
  color: white;
  font-size: 12rem;
  flex-grow: 1;
  padding-bottom: 2rem;
}

.page-header__sub-title {
  color: white;
  font-family: $font__main;
  font-size: 9rem;
}
