.search-results {
  &__form {
    .search-form {
      max-width: none;
      border: 2px solid $color__lightgray;
      margin: 3rem 0;
      .search-submit {
        background: $color__bravo;
      }
      label {
        .screen-reader-text + span {
          display: none;
        }
      }
    }
  }
  &__item {
    display: flex;
    & + & {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 2px solid $color__lightgray;
      @include media-breakpoint-up(lg) {
        margin-top: 4rem;
        padding-top: 4rem;
      }
    }
    a {
      text-decoration: none;
    }
    p {
      margin-bottom: 0;
    }
    .entry-title {
      font-size: 2.4rem;
      margin-bottom: 0.4em;
    }
    .left {
      flex-shrink: 0;
      padding-right: 3rem;
      .post-thumbnail {
        img {
          max-width: 9rem;
          display: flex;
        }
      }
    }
  }
}
