/*------------------------------------------------------------
---------------------- Blurb Styles --------------------
--------------------------------------------------------------*/
.bmcb-blurb {
  > a {
    text-decoration: none;
  }
}
.blurb__product-cat {
  display: flex;
  flex-direction: column;
  .bmcb-blurb__image-wrapper {
    flex-grow: 1;
    margin-bottom: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 25rem;
    }
  }
  .bmcb-blurb__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    background: $color__bravo;
    font-weight: 600;
    padding: 2rem 0;
    letter-spacing: 0.2rem;
  }
}

.bmcb-blurb-title {
  margin: 0;
  padding: 0 0 0.5rem;
}

.bmcb-blurb-content {
  padding: 0 2rem 1rem;
}

.bmcb-blurb__description {
  padding: 0 0 2rem;
}
