.google-map__embed,
.bmcb-map__title {
	margin-bottom: 2rem;
}

.bmcb-map__title {
	font-size: 2.6rem;
	line-height: 1.3;
	font-family: $font__heading;
}

.bmcb-map__description p {
	margin-bottom: 0;
}
