// This is the grid from [list-posts] shortcode

.article-grid__article {
  margin-bottom: 3rem;
}

.article-grid__date {
  font-size: 1.5rem;
}

.article-grid__title {
  font-size: 2.3rem;
  line-height: 2.7rem;
  a {
    font-family: $font__heading;
    color: inherit;
  }
  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.article-grid__icon-link i {
  display: inline-block;
  padding: 0;
  line-height: 1;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $color__delta;
  font-size: 2rem;
}

.article-grid__image-wrapper {
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  margin-bottom: 2rem;
  img {
    display: flex;
    height: 100%;
    border-radius: $global_radius;
    object-fit: cover;
  }
}
