.bmcb-blurb {
  &__image-wrapper {
    display: flex;
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 0.6em;
  }

  &__description {
    font-size: 1.8rem;
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    &.button__group {
      justify-content: center;
      margin: 0 -1rem;
      .btn {
        margin: 0 1rem;
      }
    }
  }
}

.blurb-icon__left {
  display: flex;
  align-items: flex-start;
  &::before {
    margin-right: 2rem;
    font-size: 4rem;
  }
  .bmcb-blurb__title {
    margin-bottom: 0.5rem;
  }
  .bmcb-blurb__description p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.06px;
  }
}

.person-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .bmcb-blurb__image {
    border-radius: 2rem 2rem 0 0;
  }
  .bmcb-blurb__title {
    font-size: 2.4rem;
    line-height: 1;
    font-family: $font__heading;
    margin-bottom: 0;
  }
  .bmcb-blurb__content {
    background: $color__alpha;
    border-radius: 0 0 2rem 2rem;
    color: white;
    padding: 2rem 2rem 0;
    p:first-of-type {
      line-height: 1;
    }
  }
}

.header-blurb-with-btn {
  margin-bottom: 4rem;
  .bmcb-blurb__content {
    display: flex;
    align-items: center;
  }

  .bmcb-blurb__title {
    flex-grow: 1;
    // font-weight: 600;
  }
}

/* Nursery Global */
.nursery-blurb .bmcb-blurb__description {
  max-width: 60rem;
}

.global-contact__blurb {
  max-width: 55rem;
  margin: 0 auto;
}
