.header-search {
  &__toggle {
    display: none;
    margin-left: 1.4rem;
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
  &__form {
    @include media-breakpoint-up(lg) {
      display: none;
      &.is-open {
        display: block;
        width: 100%;
        padding-left: 4rem;
        position: absolute;
        right: 0;
      }
    }
    .search-form {
      max-width: none;
      border: 1px solid $color__lightgray;
      label {
        padding: 0 0 0 1.5rem;
        margin: 0;
      }
    }
  }
}
