// Both Menu's
#main-menu,
#top-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
  & > li {
    position: relative;
    > a {
      padding: 1rem 2rem;
    }
  }
}

#secondary-menu {
  flex-grow: 1;
}

#top-menu > li a {
  font-family: $font__main;
  font-size: 1.6rem;
  padding: 2.1rem 2rem;
  display: block;
}

body .sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 300px;
  z-index: 1000;
  background: $color__hotel;
  &.is-visible {
    display: block;
  }
  > li {
    padding-left: 2rem;
    white-space: nowrap;
    a {
      font-weight: normal;
      font-family: $font__main;
    }
    &.menu-item-has-children > a:first-child {
      font-family: $font__heading;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
  }
}

// All list items with children
.menu-item-has-children {
  position: relative;
}

body .sub-menu li a:hover {
  background: $color__hotel;
}

body:not(.has-mobile-menu) li.menu-item-has-children:hover > .sub-menu {
  display: block;
}

/*********
****************************** 
MAIN MENU ONLY Over-rides 
******************************
**********/
#main-nav {
  display: none;
  padding: 0;
  position: relative;
  @extend .items-center;
  @extend .flex-1;
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

// All levels of main-menu
#main-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  display: block;
  padding: 0.5rem 1.6rem;
  font-weight: 600;
  color: $color__foxtrot;
  @include media-breakpoint-up(lg) {
    color: $color__charlie;
  }
}

// First Level
#main-menu > li {
  padding-left: 2.3rem;
  > a:first-child {
    @include media-breakpoint-up(lg) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  &.menu-item-has-children > a:first-child {
    display: flex;
    align-items: center;
    &::after {
      position: absolute;
      display: flex;
      align-items: flex-start;
      padding-top: 0.7rem;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      padding-left: 0.6rem;
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      font-weight: 900;
      color: $color__echo;
      content: '\f0d7';
      @include media-breakpoint-up(lg) {
        position: unset;
        padding-top: 0;
        margin: unset;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }
}

// Change chevron when open
#main-menu > li.menu-item-has-children.is-open > a:first-child::after {
  content: '\f0da';
}

// SUB MENU First level
body:not(.has-mobile-menu) #main-menu > .menu-item-has-children > .sub-menu {
  width: 30rem;
  background: $color__charlie;
  padding: 2rem 0;
  top: 100%;
  // If supports it
  width: fit-content;
  a {
    color: $color__foxtrot;
  }
}

// This is the first-level sub menu list items (with children)
body:not(.has-mobile-menu)
  #main-menu
  > .menu-item-has-children
  > .sub-menu
  > .menu-item-has-children {
  position: relative;
}

// This is the second-level sub menu (so depth: 2)
body:not(.has-mobile-menu)
  #main-menu
  > .menu-item-has-children:hover
  > .sub-menu
  > .menu-item-has-children
  > .sub-menu {
  left: 100%;
}
/*********
END MAIN MENU ONLY Over-rides 
****************************/
