.mobile-menu {
  background: $color__delta;
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1000;
  display: none;
  right: -300px;
  padding: 6rem 1rem 1rem;
  .langswitch {
    position: absolute;
    top: 15px;
  }
  .header-search__form,
  .site-header-cart {
    margin: 2rem 0;
  }
  .site-header-cart {
    display: flex;
    justify-content: center;
  }
  .header-search__form .search-form label {
    flex-wrap: wrap;
    padding: 0;
  }
  .fa-search {
    padding-left: 1rem;
  }
  .search-form .search-field {
    width: auto;
    flex-grow: 1;
  }
  .search-submit {
    width: 100%;
  }
}

.mobile-menu-is-visible .mobile-menu {
  display: block;
  right: 0;
  overflow-y: auto;
}

.mobile-menu #main-nav {
  justify-content: flex-start;
  margin-bottom: 2rem;
  display: block;
  li a {
    padding: 0.5rem 0;
  }
}

.mobile-menu #main-menu > li.menu-item-has-children > a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.mobile-menu #main-menu > li.menu-item-has-children > a:first-child::after {
  line-height: 1;
  padding-right: 0.8rem;
}

.mobile-menu .header-phone {
  padding: 1rem 2rem;
}

#menu-toggle {
  position: fixed;
  z-index: 1000;
  top: 3rem;
  right: 2rem;
  background: $color__foxtrot;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: var(--color-link);
  .icon {
    display: inline-block;
    fill: currentColor;
    width: 4rem;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.admin-bar #mobileToggle {
  top: 6rem;
}

// .mobile-menu-is-visible #menu-toggle {
//   right: 30rem;
// }

/* Menu toggle styles. */

.icon-menu-toggle {
  width: 2em;
  height: 2em;
  top: 0;
}

/* Animate menu icon (lines). */
.svg-menu-toggle .line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .line-1 {
  transform-origin: 1.5rem 3.5rem;
}
.svg-menu-toggle .line-3 {
  transform-origin: 1.5rem 6.5rem;
}

.mobile-menu-is-visible .menu-toggle .svg-menu-toggle .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}
.mobile-menu-is-visible .menu-toggle .svg-menu-toggle .line-2 {
  opacity: 0;
}
.mobile-menu-is-visible .menu-toggle .svg-menu-toggle .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}
