// For a basic dropdown post filter for categories (to be extended for anything)
.post-filter__controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
	}
}

#cat-select {
	flex-grow: 1;
	z-index: 5;
}

#cat-select + .search-form {
	margin-top: 2rem;
	max-width: none;
	@include media-breakpoint-up(md) {
		margin-top: 0;
		max-width: 300px;
	}
}
