/* Testi Slider */
.testimonial-slider {
  &__slide {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(.image-false) {
      .container {
        padding: 3rem 0 4rem;
      }
    }
  }
  &__body {
    font-family: $font__heading;
    text-align: center;
    font-size: 1.8rem;
    @include media-breakpoint-up(md) {
      font-size: 2.8rem;
    }
  }
}

.testimonial-slider__slide .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-slider__content-box {
  flex-basis: 100%;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.testimonial-slider__slide.is-wide .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 75%;
  }
}

.testimonial-slider__slide.is-full .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 100%;
  }
}

.testimonial-slider__arrow-group {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  .testimonial-slider__arrow {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    & + .testimonial-slider__arrow {
      margin-left: 1.6rem;
    }
  }
}

.is-hidden {
  opacity: 0 !important;
}

.slider__navigation-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 -0.6rem;
  li {
    width: 1rem;
    height: 1rem;
    background: #eaeaea;
    // border-radius: 50%;
    margin: 0 0.6rem;
    &.is-active {
      background: $color__echo;
    }
  }
}
